<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--    Completar link bootstrap-->
    <title>Lista de Empleados</title>
</head>
<body>
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#"> HR </a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          </ul>
        </div>
      </nav>
      <div class="container">
        <p></p>
        <div class="row">
          <div class="col-10"><h2>Lista de Empleados</h2></div>
          <div class="col-2 text-right" >
            <a class="btn btn-outline-info" href="...">+ Añadir</a>
          </div>
        </div>

          <div class="alert alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div th:if="${msgError != null}" th:text="${msgError}" class="alert alert-danger" role="alert"></div>
          <div th:if="${msgExitoso != null}" th:text="${msgExitoso}" class="alert alert-success" role="alert"></div>

          <table class="table table-striped ">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre
                <a class="text-reset"  href="">
                <span ></span>
                </a>
                <a class="text-reset"  href="">
                <span ></span>
                </a>
            </th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Salario</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>

          <tr th:each="employee : ${listaEmployee}">
            <td th:text="${employee.getEmployeeId()}">#</td>
            <td th:text="${employee.getFirstName()}">Nombre</td>
            <td th:text="${employee.getLastName()}">Apellido</td>
            <td th:text="${employee.getEmail()}">correo</td>
            <td th:text="${employee.getSalary()}">salario</td>
            <td><a class="btn btn-outline-info" th:href="@{'/employee/edit' + '?id=' + ${employee.getEmployeeId()}}" data-toggle="tooltip" data-placement="bottom" title="Editar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                </svg>
            </a></td>
            <td><a type="button" class="btn btn-outline-danger" th:href="@{'/employee/borrar' + '?id=' + ${employee.getEmployeeId()}}" data-toggle="tooltip" data-placement="bottom" title="Borrar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                </svg>
            </a></td>
          </tr>

          </tbody>
        </table>
        <script src="<spring:url value='/resources/jquery/jquery-3.3.1.min.js' />"></script>
        <script src="<spring:url value='/resources/bootstrap/js/bootstrap.min.js' />"></script>
      </div>
</body>
</html>